
#root {
  height: 1000px;
  padding: 1rem;
}

body {
  --color-background: #fafafa;
  --color-foreground: #1f2023;
}

body.dark {
  --color-background: #1f2023;
  --color-foreground: #efefef;
  background-color: #1f2023;
  color: #dadada;
}


@media (prefers-color-scheme: dark) {
  body {
    --color-background: #1f2023;
    --color-foreground: #efefef;
    background-color: #1f2023;
    color: #dadada;
    }
}


.App-header {
  background-color: var(--color-background);
  color: var(--color-foreground);
}