
#root {
  height: 1000px;
  padding: 1rem;
}

body {
  --color-background: #fafafa;
  --color-foreground: #1f2023;
  --outer-header-background:#F0F0F0;

}

body.dark {
  --color-background: #1f2023;
  --color-foreground: #efefef;
  background-color: #1f2023;
  color: #dadada;
}





